.pomodoro {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 0.3s ease;
}

.timer {
  font-size: 48px;
  margin-bottom: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: #ddd;
}

.controls button i {
  margin: 0 5px;
}

.settings {
  margin-top: 20px;
}

.settings label {
  margin-right: 10px;
}

.settings input {
  width: 50px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
}

#pomodoro-container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.minimal h1 {
  display: none;
}

.minimal .controls {
  display: none;
}

.minimal .timer {
  margin: unset;
}

.minimal.pomodoro {
  padding: 10px;
}

.minimal.pomodoro:hover {
  padding: 20px;
}

.minimal:hover .controls {
  display: block;
}

.minimal:hover .timer {
  margin-bottom: 20px;
}

.minimal:hover h1 {
  display: block;
}
