@import url('../../common/styles/global-styles.css');

.home-body {
    background: var(--main-bg-color);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-title-home {
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    margin-top: 10rem;
    font-size: 3rem ;
}

.subtitle-home {
    text-align: center;
    font-family: var(--font-family);
    font-weight: var(--font-weight-thin);
    font-size: 1.5rem;
    margin-top: 2rem;
 }

 .home-btn {
    height: 4rem !important;
    width: 18rem !important;
    font-size: 1.2rem !important;
    margin-top: 4rem !important;
}
