* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --color-primary: #719bec;
    --color-white: #fff;
    color: blue;
}

p,
h1,
button {
    font-family: 'Poppins';
}

p {
    font-weight: 100;
}

.btn-primary {
    font-size: 45px;
    font-weight: 700;
    border-radius: 25px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border: none;
    padding: 10px 40px;
}

.btn-primary:hover {
  /* background-color: yellow; */
}

.btn-primary i {
    margin-right: 1rem;
}
