*
{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
body{
    background-color: var(--primary-color); 
}
main{
    padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

#CriarNota {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #F5F5F5;
  color: #F5F5F5;
  border: none;
  cursor: pointer;
}

#listaAnotacoes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.anotacao {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.anotacao h3 {
  margin: 0;
}

.anotacao p {
  margin-top: 5px;
}
