:root {
  --main-bg-color: linear-gradient(to bottom, #f2f2f2, #dddddd);
  --secondary-bg-color: #373737;
  --white-font-color: #fff;
  --font-family: "Poppins", sans-serif;
  --font-weight-bold: 900;
  --font-weight-thin: 200;
  --primary-color: #719bec;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.default-btn {
  margin-left: 2rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  border-radius: 50px;
  border: none;
  font-size: 0.9rem;
  height: 2.5rem;
  width: 12rem;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transition: 0.3s;
    filter: opacity(0.8);
  }
}

.nav-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 44rem;
  gap: 2rem;
}

.option {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  &:hover {
    color: var(--primary-color);
  }
}

.logo {
  width: 16vw;
}
